@import url(https://fonts.google.com/specimen/Red+Hat+Display);

body {
    background-image: url("/images/pattern-background-desktop.png");
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
    text-align: center;
}

.box {
    font-family: 'Mohave', sans-serif;
    background-color: #fff;
    margin-left: 32vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    border-radius: 20px;
    width: fit-content;
    height: fit-content;
}

#mainImg {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;  
}

h1 {
    font-weight: 900;
    color: hsl(223, 47%, 23%);
    text-align: center;
}

p {
    font-weight: 500;
    text-align: center;
    color: hsl(224, 23%, 55%);
}

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

h2 {
    font-size: 1em;
    font-weight: 900;
    color: hsl(223, 47%, 23%);
}

div p {
    text-align:center;
}

.box2 {
    background-color: hsl(225, 100%, 98%);
    border-radius: 20px;
    margin: 2em;
    padding: 1em;
}

.box2 a {
    font-weight: bold;
    font-size: 1em;
}

.b1 {
    color: #fff;
    font-weight: bolder;
    font-size: 1em;
    margin: 1em 2em;
    height: 20px;
    padding: 2em;
    border-radius: 20px;
    border-style: none;
    background-color: hsl(245, 75%, 52%);
    width: 400px;
}

.b2 {
    color: hsl(224, 23%, 55%);
    font-weight: bolder;
    font-size: 1em;
    margin: 1em 2em;
    height: 20px;
    padding: 2em;
    border-radius: 20px;
    border-style: none;
    background-color: #fff;
    width: 400px;
}

.b1:hover {
    background-color: hsl(228, 45%, 44%);
}

.b2:hover {
    background-color: #eee;
}

a:hover {
    color:hsl(228, 45%, 44%);
}