@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

header {
    font-family: 'Spectral', serif;
    font-weight: 700;
    font-size: 25px;
    height: 100px;
    background-color: tomato;
}

li a {
    text-decoration: none;
    color: rgb(29, 27, 27);
}

.logo {
    width: 120px;
    padding: 10px;
}

.about-me {
    background-color: #ff00ff;
    border: 5px solid #000;
}

.lesson-types {
    background-color: #00ff00;
}

.depo {
    background-color: #0000ff;
}

.book-a-class {
    color: #ffffff;
    background-color: #000000;
}