* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background: #f5f5f5;
}

.container {
    max-width: 960px;
    margin: 100px auto;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

    /*align-items: end;
    justify-content: center;*/

    /*column-gap: 10px;
    row-gap: 10px;*/
    /*grid-auto-rows: minmax(200px, auto);*/
    /*grid-template-rows: repeat(3, 1fr);*/
}

.item {
    background: steelblue;
    color: #fff;
    font-size: 20px;
    padding: 20px;
    border: skyblue 1px solid;
}

/* .item:nth-of-type(1){
    background-color: #000;
    /*grid-column-start: 1;
    grid-column-end: 3;
    grid-column: 1/3;
    /*grid-column: 1 / span 2;
}

.item:nth-of-type(3){
    background-color: #333;
    grid-row: 2/4;
}

.item:nth-of-type(4){
    background-color: #666;
    grid-row: 2/4;
} */

