@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;600&family=Vollkorn:wght@400;600&display=swap");

body {
  box-sizing: border-box;
  margin: 0;
  background-color: rgb(214, 212, 212);
}

header {
  font-family: "Kanit", sans-serif;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  color: #fff;
  background-color: rgb(19, 34, 87);
}

header h1 {
  display: inline;
  padding: 5px;
  align-self: center;
}

header nav {
  align-self: center;
  margin: 0;
  padding-right: 15px;
}

header nav a {
  font-weight: 700;
  text-decoration: none;
  color: inherit;
}

main {
  font-family: "Vollkorn", serif;
}

main h2 {
  text-align: center;
  font-size: 2rem;
  margin: 10px;
}

.starting-11 {
  width: 75%;
  margin: auto;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 33% 33% 33%;
  row-gap: 30px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
}

.player-card {
  margin: 10px;
}

.player-card img {
  width: 150px;
  height: 150px;
  background-color: lightblue;
  border-radius: 10px 10px 0 0;
}

.card-text {
  padding: 0;
  margin-top: -10px;
  display: flex;
  align-items: center;
}

.card-text h3 {
  margin-right: 10px;
}

.card-text p {
  font-style: italic;
}

.bench-list-title {
    margin-top: 30px;
    margin-left: 20px;
    line-height: 2px;
}

ol {
  height: 150px; /*your fixed height*/
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3; /*3 in those rules is just placeholder -- can be anything*/
}
