@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main {
    width: 80%;
    height: auto;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    padding: 15px;
}

h1 {
    font-size: 22px;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    text-align: center;
}

p {
    font-size: 15px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media(max-width: 1440px) {
    body {
        max-width: 375px;
        margin: auto;
    };
}
