.app {
    background: #f1f1f1;
    display: grid; /*p/ se comportar como grid*/
    font-family: Arial, Helvetica, sans-serif;
    grid-template-areas: /*definindo as partes do site*/
        "cabecalho"
        "conteudo"
        "rodape";
    grid-template-columns: auto;
    grid-template-rows: 50px 100vh auto; /*ref. às áreas definidas*/
}

.cabecalho {
    grid-area: cabecalho; /*p/ ficar aonde está definido */
}
 
.conteudo { 
    grid-area: conteudo;
}

.rodape {
    grid-area: rodape;
}