.app {
    background: #f1f1f1;
    display: grid; /*p/ se comportar como grid*/
    font-family: Arial, Helvetica, sans-serif;
    grid-template-areas: /*definindo as partes do site*/
        "cabecalho"
        "conteudo"
        "rodape";
    grid-template-columns: auto;
    grid-template-rows: 50px auto auto; /*ref. às áreas definidas*/
}

.cabecalho {
    display: flex;
    align-items: center; /*verticalmente*/
    padding: 0 2rem;
    grid-area: cabecalho; /*p/ ficar aonde está definido */
}
 
.conteudo { 
    grid-area: conteudo;
    padding: 0 2rem;
}

.rodape {
    background: #fdfdfd;
    color: #333333;
    font-size: .8rem;
    grid-area: rodape;
    padding: 1rem;
    text-align: center;
}